{% extends "base.html" %}
{% block title %}
Passenger Ship Powering Prediction
{% endblock %}

{% block content %}


        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col-8">
                <h1>Welcome to the passenger ship powering prediction app</h1>
            </div>
            <div class="col2"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col-8">

        <!-- form for uploading files -->
        <form action="/uploadfile/" enctype="multipart/form-data" method="post">
            <div class="input-group mb-3">
                <input type="file" class="form-control" name="file">
                <input class="input-group-text" type="submit">
              </div>        
        </form>

        </div>
        <div class="col-2"></div>
        </div>
        {% endblock %}